.logo-img{
    width: 100px;
}
.first-menu a:link, .first-menu a:visited{
    color: orange;
}
#hero-banner{
    width: 100%;
    background-image: url('../../images/Me-in-front-of-tahiti-temple.jpg');
    background-repeat: no-repeat;
    height: 1500px }
    /* alt tag = this is an image of me in front of the temple */
#hero-image{
    display: none;
}