.logo-img{
    width: 100px;
}
.first-menu a:link, .first-menu a:visited{
    color: orange;
}
#hero-banner{
    width: 100%;
    background-image: url('/wwr/images/Family\ rafting\ NY\ 1.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    height: 600px }
    /* alt tag = this is an image of me in front of the temple */
#hero-image{
    display: none;
}