.logo-img{
    width: 100px;
}
.first-menu a:link, .first-menu a:visited{
    color: red;
    text-align:center;
    background-color:#38C7C7 ;
}
.first-menu a:hover{
    background-color:#38C77F;
}
#hero-banner{
    width: 100%;
    background-image: url('/wwr/images/Family-rafting-NY-1.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    height: 600px
}
    /* alt tag = Family rafting */
#hero-image{
    display: none;
}
.column {
    float: left;
    width: 20%;
    padding: 4px;
    height:auto;
    text-align: center;
  }
  .row::after {
    content: "Socials";
    clear: both;
    display: table;
    text-align: center;
    margin:auto;
  }
  #content{
    max-width:1600px;
    margin: 0 auto;
  }
  #background{
    height: 725px;
  }
  body {
    background-color: #3880C7; 
}
    header {
    background-color:#38C7C7;
}
nav a{
    text-align: center;
    text-decoration: none;
}
    nav a:hover {
    background-color:#38C77F ;
}
footer{
    background-color: #38C77F;
}
footer a{
    text-align: center;
    text-decoration: none;
}
footer p{
    font-size: 1.2em;
}
footer p a:hover{
    text-decoration:underline;
}
.dryoarlogo-img{
    width:80px;
}
section{
    text-align: center;
}
menu{
    text-align:center;
}
